<!DOCTYPE html>
<html>
<head>
    <title>Image Captioning AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>Image Captioning AI</h1>

        <p class="subtitle">
            Upload an image and generate AI captions
        </p>

        <form method="POST" enctype="multipart/form-data">

            <input type="file" name="image" required>

            <button type="submit">
                Generate Caption
            </button>

        </form>

        {% if image_file %}

        <div class="image-box">

            <img
                src="{{ url_for('static', filename='uploads/' + image_file) }}"
                alt="Uploaded Image"
            >

        </div>

        {% endif %}

        {% if caption %}

        <div class="caption-box">

            <h2>Generated Caption</h2>

            <p>{{ caption }}</p>

        </div>

        {% endif %}

    </div>

</body>
</html>